<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>아이디 찾기 페이지</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/findID.css}" />
    <script src="/js/findID.js"></script>
</head>
<body>
<div class="findIdContainer">
    <div class="findIdTitle"><img src="/images/Logo2.png" width="300px"></div>
    <div class="findIdBackground">
        <div class="tabContainer">
            <div class="tabActive">
                <div class="tabTextActive">아이디찾기</div>
            </div>
        </div>
        <form action="/auth/findID" method="post" id="findIdForm" class="formContainer">
            <div class="formLabel">이름</div>
            <input class="formInput" placeholder="이름을 입력해 주세요" name="name"/>
            <div class="formLabel">이메일</div>
            <input class="formInput" placeholder="이메일을 입력해 주세요" name="email"/>
            <div id="findIdBtn" class="buttonContainer">확인</div>
<!--            <span class="notice-label">* 일치하는 아이디가 없습니다.</span>-->
        </form>
    </div>
</div>
</body>
</html>
