<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>아이디 찾기 페이지</title>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" href="/css/findPwd.css" />
  <script src="/js/findPwd.js"></script>
</head>
<body>
<div class="findIdContainer">
  <div class="findIdTitle"><img src="/images/Logo2.png" width="300px"></div>
  <div class="findIdBackground">
    <div class="tabContainer">
      <div class="tabActive">
        <div class="tabTextActive">비밀번호찾기</div>
      </div>
    </div>
    <div class="formContainer">
      <div class="formLabel">이름</div>
      <input class="formInput" placeholder="이름을 입력해 주세요" name="name"/>
      <div class="formLabel">이메일</div>
      <input class="formInput" placeholder="이메일을 입력해 주세요" name="email"/>
      <div id="authenticationBtn" class="buttonContainer">인증받기</div>
    </div>
    <div class="formContainer2">
      <input class="formInput" placeholder="인증번호 입력" name="veriCode"/>
      <div style="margin: 15px">
        <span class="verificationNotice" >*3분 이내로 인증번호 6자리를 입력해주세요.</span>
        <!-- 인증번호를 재입력해주세요. -->
      </div>
      <div id="authenticationOKBtn" class="buttonContainer">확인</div>
    </div>

    <form action="/auth/updatePwd" method="post" class="formContainer3">
        <span class="">새비밀번호입력</span>
        <input type="password" class="formInput" placeholder="새비밀번호를 입력해 주세요" name="newPassword" id="newPwd"/>
        <span class="">새비밀번호 재입력</span>
        <input type="password" class="formInput" placeholder="새비밀번호를 재입력해 주세요" id="newPwd2"/>
        <div id="ModifyBtn" class="buttonContainer">확인</div>
    </form>
    <div class="formContainer4">
      <div>
        <p>비밀번호를 성공적으로 변경하였습니다.</p>
      </div>
      <div id="goToLoginBtn" class="buttonContainer">로그인하러가기</div>
    </div>
  </div>
</div>
</body>
</html>
