<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" href="/css/findIdOK.css" />
  <title>아이디 찾기 페이지</title>

</head>
<script>
  $(document).ready(() => {
    $(".goToLoginBtn").click(() => {
      location.href = "/auth/login";
    });
  });
</script>
<body>
<div class="findIdContainer">
  <div class="findIdTitle">아이디 찾기</div>
  <div class="findIdBackground">
    <div class="tabContainer">
      <div class="tabActive">
        <div class="tabTextActive">이메일 인증</div>
      </div>
    </div>
    <div class="formContainer">
      <div class="findIdbox">
        <div th:if="${errorMessage != null}">
          <p th:text="${errorMessage}">에러 메시지</p>
        </div>
        <div th:if="${errorMessage == null}">
          <span><span th:text="${userName}">xxx</span>님의 아이디는 <span th:text="${userid}">아이디</span>입니다.</span>
        </div>
      </div>
      <div class="goToLoginBtn">로그인하러가기</div>
    </div>
  </div>
</div>
</body>
</html>
