<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="common/layout/base">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
  </head>
  <body>
    <th:block layout:fragment="content">
    <div class="loginContainer">
      <div class="loginBox">
        <div class="loginHeading">로그인</div>
        <div th:if="${param.error}" class="loginFailMessage"><span>아이디 또는 비밀번호를 재확인해주세요</span></div>
        <div class="formContainer">
          <form class="formBox" action="/auth/login" method="post">
            <div class="formLabel formLabelId"><label>아이디</label></div>
            <input
                    name="username"
              type="text"
              placeholder="아이디를 입력하세요"
              id="idInputBox"
              class="inputField inputFieldId"
            />
            <div class="formLabel formLabelPassword">
              <label>비밀번호</label>
            </div>
            <input
              type="password"
              name="password"
              placeholder="비밀번호 영문/특수문자/숫자 8~16자"
              id="pwdInputBox"
              class="inputField inputFieldPassword"
            />
            <div id="showPwdButton" class="showPwdButton show">
              <img th:src="@{/images/icon/eyesShow.svg}" width="27" height="27"  />
            </div>
            <div id="NoShowPwdButton" class="NoShowPwdButton show">
              <img th:src="@{/images/icon/eyesNoShow.svg}" width="31" height="31" />
            </div>
            <div class="rememberIdContainer">
              <input type="checkbox" class="checkbox" id="rememberId" />
              <label class="rememberIdLabel" for="rememberId"
                >아이디 저장</label
              >
            </div>
            <button type="submit" class="loginButton">로그인</button>
            <button type="button" class="signupLink" id="signupLink">회원가입</button>
            <div class="findIdPasswordContainer">
              <div class="findIdLink" id="findIdLink">아이디 찾기</div>
              <div class="verticalDivider"></div>
              <div class="findPasswordLink" id="findPasswordLink">비밀번호 찾기</div>
            </div>
          </form>
        </div>
      </div>
    </div>
    </th:block>
    <th:block layout:fragment="script">
      <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
      <script>
        $(document).ready(function () {
            $("#findIdLink").click(function () {
                location.href = "/auth/findID";
            });
            $("#findPasswordLink").click(function () {
                location.href = "/auth/findPwd";
            });
            $("#signupLink").click(function () {
                location.href = "/auth/signUp";
            });

            $("#showPwdButton").click(function(){
               $(this).css('display','none');
            $("#NoShowPwdButton").css("display","block");
              $("#pwdInputBox").attr("type", "text");
            })

          $("#NoShowPwdButton").click(function(){
               $(this).css('display','none');
            $("#showPwdButton").css('display','block');
            $("#pwdInputBox").attr("type", "password");
            })

            });
      </script>
    </th:block>
  </body>
</html>
