.page-container{
    width:100%;
}

.title-section {
    padding: 80px 120px;
    text-align: center;
}
.title-section h1 {
    font-size: 28px;
}
.main-content {
    width: 90%;
    margin: 50px auto;
}
.filter-section {
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid #000000;
}
.filter-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #000000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    border-bottom: none;
}
.sort-section {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 47px;
}
.sort-section .item-count {
    font-size: 18px;
}
.sort-box ul {
    width: 500px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #999999;
    font-weight: 400;
    cursor: pointer;
}
.product-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin:0 auto;
}
.product-item {
    width: 24%;
    position:relative;
}
.product-item > img:nth-child(1) {
    width: 100%;
}

.product-info {
    padding: 10px;
}
.product-name {
    font-size: 18px;
    font-weight: 400;
    color: #767676;
    width: 240px;
    height: 40px;
}
.product-name:hover{
    text-decoration: underline;
}
.product-price {
    font-size: 20px;
    font-weight: 700;
}
.product-price-box {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 3px 0;
}
.product-price-discount {
    font-size: 21px;
    color: #ff5c28;
    font-weight: 700;
}
.like-box {
    display: flex;
    align-items: center;
    gap: 5px;
}
.product-event {
    height: 76px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.product-event-box {
    padding: 5px 0px;
    display: flex;
    gap: 10px;
}
.product-event-box > div {
    padding: 5px;
    background-color: #cdcdcd;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #5c5c5c;
}

.title-box{
    display:flex;
    justify-content:center;
    margin:0 auto;
    gap:20px;
    padding: 40px 120px 80px;
}
.title-box h1:nth-child(2){
    color:#7d7c7c;
}

.like-btn{
    width:25px;
    height:25px;
    position:absolute;
    top:10px;
    right:15px;
}
.hidden-id{
    display:none;
}

