

.singUpContainer,
.singUpContainer * {
    box-sizing: border-box;

input {
    font-size: 20px;
    padding-left: 16px;
}
}
.singUpContainer {
    height: 1218px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 200px;
}
.contentWrapper {
    width: 1170px;
    height: 1218px;
    position: relative;
}
.titleHeader {
    width: 1170px;
    height: 47px;
}
.title {
    color: #363636;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}
.separator {
    margin-top: -1px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 1170px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 47px;
}
.formContainer {
    width: 499px;
    height: 1133px;
    position: absolute;
    left: 343px;
    top: 85px;
}
.buttonContainer {
    width: 499px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 1033px;
}
.signupButton {
    background: #0d1134;
    width: 499px;
    height: 44px;
    position: relative;
    top: -60px;
    cursor: pointer;
    border-radius: 50px;
    color: #ffffff;
    stext-align: center;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 17px;
    font-weight: 600;
}
.signupButtonBg {
    background: #0d1134;
    border-radius: 35px;
    width: 499px;
    height: 44px;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #ffffff;
    text-align: center;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.cancelButton {
    background: #ffffff;
    border-radius: 35px;
    border-style: solid;
    border-color: #555353;
    border-width: 1px;
    width: 499px;
    height: 44px;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #000000;
    text-align: center;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.inputContainer {
    width: 498.62px;
    height: 86px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.label {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 56px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.duplicateCheckButton {
    background: #ffffff;
    border-radius: 35px;
    border-style: solid;
    border-color: #C5C5C5;
    border-width: 1px;
    width: 184.62px;
    height: 57px;
    position: absolute;
    left: 314px;
    top: 29px;
    color: #000000;
    font-family: "Inter-Medium", sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.duplicateCheckButton:hover {
    background-color: #0d1134;
    color: #ffffff;
    transition: all 5ms;
}
.inputField {
    background: #ffffff;
    border-style: solid;
    border-color: #555553;
    border-width: 1px;
    width: 293px;
    height: 57px;
    position: absolute;
    left: 0px;
    top: 29px;
}
.idCheckLabel {
    font-size:14px;
    color : #FF294F;
    width: 293px;
    height: 57px;
    position: absolute;
    left: 5px;
    top: 93px;
    display:none;
}
.inputPlaceholder {
    color: #797979;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 20px;
    top: 46px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.passwordContainer {
    width: 499px;
    height: 86px;
    position: absolute;
    left: 0px;
    top: 126px;
}
.passwordLabel {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 74px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.passwordInput {
    background: #ffffff;
    border-style: solid;
    border-color: #555553;
    border-width: 1px;
    width: 499px;
    height: 57px;
    position: absolute;
    left: 0px;
    top: 29px;
}
.passwordPlaceholder {
    color: #797979;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 46px;
    font-weight: 400;
    position: absolute;
    left: 18px;
    top: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.nameContainer {
    width: 499px;
    height: 87px;
    position: absolute;
    left: 0px;
    top: 251px;
}
.nameLabel {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.nameInput {
    background: #ffffff;
    border-style: solid;
    border-color: #555553;
    border-width: 1px;
    width: 499px;
    height: 57px;
    position: absolute;
    left: 0px;
    top: 30px;
}
.namePlaceholder {
    color: #797979;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 20px;
    top: 47px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.phoneContainer {
    width: 499px;
    height: 87px;
    position: absolute;
    left: 0px;
    top: 377px;
}
.phoneLabel {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 98px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.emailLabel {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 629px;
    width: 98px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.emailContainer {
    width: 499px;
    height: 57px;
    position: relative;
}
.emailInput {
    background: #ffffff;
    border-style: solid;
    border-color: #555553;
    border-width: 1px;
    width: 499px;
    height: 57px;
    position: absolute;
    left: 0px;
    top: 659px;
}
.emailPlaceholder {
    color: #797979;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 20px;
    top: 676px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.addressLabel {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 755px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.addressContainer {
    width: 499px;
    height: 203px;
    position: static;
}
.postcodeInputBtn {
    background: #ffffff;
    border-style: solid;
    border-color: #C5C5C5;
    border-width: 1px;
    border-radius:3px;
    width: 90px;
    height: 57px;
    position: absolute;
    right: 1px;
    top: 731px;
    cursor: pointer;
    text-align: center;
    align-content: center;
    color: #000000;
    font-family: "Inter-Medium", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.postcodeInputBtn:hover {
    background-color: #0d1134;
    color: #ffffff;
    transition: all 5ms;
}

.addressInput {
    background: #ffffff;
    border-style: solid;
    border-color: #555553;
    border-width: 1px;
    width: 400px;
    height: 57px;
    position: absolute;
    left: 0px;
    top: 731px;
}
.detailedAddressInput {
    background: #ffffff;
    border-style: solid;
    border-color: #55555;
    border-width: 1px;
    width: 499px;
    height: 57px;
    position: absolute;
    left: 0px;
    top: 867px;
}
.postcodeSearchText {
    color: #555553;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 242px;
    top: 808px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.birthdateLabel {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 502px;
    width: 74px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.birthdateInput {
    background: #ffffff;
    border-style: solid;
    border-color: #555553;
    border-width: 1px;
    width: 314px;
    height: 57px;
    position: absolute;
    left: 0px;
    top: 533px;
    padding-right:10px;
}
.birthdatePlaceholder {
    color: #797979;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 18px;
    top: 550px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.genderMaleContainer {
    width: 84px;
    height: 57px;
    position: static;
}
.genderMaleButton {
    border-style: solid;
    border-color: #c5c5c5;
    border-width: 1px;
    border-radius:3px;
    width: 84px;
    height: 57px;
    position: absolute;
    left: 324px;
    top: 533px;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}
.genderFemaleContainer {
    width: 84px;
    height: 57px;
    position: static;
}
.genderFemaleButton {
    border-style: solid;
    border-color: #c5c5c5;
    border-width: 1px;
    border-radius:3px;
    width: 84px;
    height: 57px;
    position: absolute;
    left: 409px;
    top: 533px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:5px;
    cursor:pointer;
}
.checked-option{
    background: #d8d8d8;
}

.addrBox {
    position: relative;
}

.formContainer input {
    color : #9F9F9F;
    border-radius:3px;
    border-color:#C5C5C5;
}

.pwCheckLabel{
    position:absolute;
    top:92px;
    left:3px;
    display:none;
}
.emailCheckLabel{
    position:absolute;
    top: 723px;
    left:3px;
    display:none;
}

.passwordLabel,.label,.nameLabel,.phoneLabel,.birthdateLabel,.emailLabel,.addressLabel{
    min-width:120px;
}
.hidden-input{
    display:none;
}

