<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout/base}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/category.css}" />
    <script src="/js/category.js"></script>
</head>
<body>
<img src="./images/products/carousel-item1.jpg" class="d-block w-100 " alt="...">
<th:block layout:fragment="content">
    <div class="page-container">
        <div class="page-container">
            <div class="title-section">
                <h1 th:text="${type}">아우터</h1>
                <div class="filter-section">
                    <div class="filter-btn">
                        <img src="/images/icon/filterIcon.svg" alt="" />
                        필터검색
                        <img src="/images/icon/dropDownIcon.svg" alt="" width="10px" />
                    </div>
                </div>
                <div class="sort-section">
                    <div class="item-count" th:text="'상품갯수: '+${productsList.size()}+'개'">2,120개</div>
                    <div class="sort-box">
                        <ul>
                            <li>추천순</li>
                            <li>최신순</li>
                            <li>낮은 가격순</li>
                            <li>높은 가격순</li>
                            <li>판매순</li>
                            <li>리뷰 많은순</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="product-list">
                    <div th:each="product :${productsList}" class="product-item">
                        <img th:src="@{'/images/products/0'+${product.productId}+'/'+${product.productId}+'_detail_1.webp'}" alt="상품썸네일" />
                    <!--좋아요버튼(로그인시에만 표시)-->
                        <img th:src="@{/images/icon/heart2.svg}" class="like-btn" alt="좋아요버튼" sec:authorize="isAuthenticated()"/>
                        <div class="product-info">
                            <a th:href="@{|/product/${product.productId}|}">
                            <div class="brand-name" th:text="${product.brandName}">브랜드</div>
                            <div class="product-name" th:text="${product.productName}">아우터</div>
                            </a>
                            <div class="product-price-box">
                                <div class="product-price" th:text="${product.productPrice}+'원'">120,000원</div>
                                <div class="product-price-discount">20%</div>
                                <div class="hidden-id" th:text="${product.productId}">상품ID</div>
                            </div>
                            <div class="like-box">
                                <img src="/images/icon/heart0.svg" alt="" width="20px" height="20px" />
                                <span>120</span>
                            </div>
                            <div class="product-event">
                                <div class="product-event-box">
                                    <div>쿠폰</div>
                                    <div>대여가능</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>